@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-surface-border;
  }

  body {
    @apply bg-surface text-white antialiased;
    font-family: "Inter", system-ui, sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-surface;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-surface-border;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
